*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: inherit;
    text-decoration: none;
}

button, input{
    background-color: rgba(255,255,255,0);
    border: 0;
}

body{
    padding-bottom: 3000px;
    font-family: Hahmlet;
     
}

header .wrap{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
header{
    height: 250px;
}
header .wrap h1 img{
    line-height: 250px;
    padding-top: 80px;
}
header .wrap .util{
    display: flex;
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 12px;
}
header .wrap .util li{
    margin-right: 20px;
}
header .wrap .util2{
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 12px;
}
header .wrap .util2 li{
    border-right: 1px solid #000;
    margin: 0 5px ;
    padding-right: 5px;
}
header .wrap .gnb{
    display: flex;
    justify-content: center;
    padding-left: 100px;
   width: 800px;
   position: absolute;
   right: 0;
   top: 80px;
   font-size: 18px;
}
header .wrap .gnb li{
    width: 200px;
    transition: all 0.3s;
    
    
}
header .wrap .gnb li:hover{
 color: #a61f16;
}

header .wrap .gnb li a{
    display: block;
    padding: 40px 40px;
}

header .wrap .gnb li:nth-child(3){
    transition: all;
    
}
header .wrap .gnb li:nth-child(3):hover .sub_menu{
display: block;



}
header .wrap .gnb .sub_menu{
    display: none;
    width: 10px;
    position: absolute;
    top:50px;
    z-index: 2;
    
}
header .wrap .gnb .sub_menu li{
    text-align: center;
    background-color:transparent;
    height: 50px;
    width: 170px;
    
}

header .wrap .gnb .sub_menu li:hover{
    color: #000;
}
.banner{
    position: relative;
}
.banner .main{
    width: 100%;
    margin: 0 auto;
}
.banner h2{
    font-size: 34px;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    
}
.banner input{
    
    width: 500px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../images/icon_serch.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:right ;
    background-size: 30px 30px;
    
}
input::placeholder{
    color: #000;
    font-size: 20px;
    text-align: center;
}
.wrap2{
    margin: 0 auto;
    width: 1000px;
    position: relative;
   
    
}
.wrap2 .best .con1 img{
    width: 200px;
    height: auto;
}
.wrap2 .best{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.wrap2 h3{
    font-size: 25px;
    color: #9e1915;
    border-bottom:1px solid #9e1915  ;
    text-align: center;
    margin-top: 130px;
    
}   
.wrap2 .best .txt{
    margin-top: 20px;
    text-align: center;
}
.wrap2 .plus{
    position: absolute;
    top: 110%;
    
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    border: 1px solid #000;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-bottom: 20px;

}

.wrap2 .best2 .con1 img{
    width: 200px;
    height: auto;
}
.wrap2 .best2{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.wrap2 .best2 .txt{
    margin-top: 20px;
    text-align: center;
}
.wrap2 .plus{
    position: absolute;
    top: 110%;
    
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    border: 1px solid #000;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-bottom: 20px;

}
.wrap2 .sub_banner{
    padding-top: 200px;
}
.wrap2 .sub_banner img{
    width: 1000px;
    height: auto;

}
.wrap2 .notice{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
.wrap2 .notice h4{
    font-size: 25px;
    color: #9e1915;
    border:1px solid #9e1915  ;
    padding: 5px 5px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    

}
.wrap2 .notice .no{
    margin-top: 100px;
    width: 400px;
    height: 400px;
    background-color: rgba(158, 25, 21, 0.3);
    border-radius: 10%;
}
.wrap2 .notice .long{
    font-size: 23px;
    text-align: center;
    margin-top: 70px;
    
    
}
.wrap2 .notice .sh{
    font-size: 15px;
    text-align: center;
    margin-top: 110px;
    margin-left: 15%;
    width: 300px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
}
.wrap2 .notice .sh2{
    font-size: 15px;
    text-align: center;
    margin-top: 90px;
    margin-left: 15%;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.footer{
    width: 100%;
    background-color: #9e1915;
    height: 300px;
    margin-top: 100px;
    position: relative;
    color: #ccc;
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 40px;
}
.footer ul{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    
}
.footer ul li{
    border-right: 1px solid;
    padding: 2px 5px;
    font-size: 17px;
    
}
.footer ul li:last-child{
    border: 0;
}
.footer .f1{
    font-size: 15px;
    position: absolute;
    left: 25%;
    bottom: 40%;
}
.footer .f2{
    font-size: 15px;
    position: absolute;
    right: 20%;
    bottom: 50%;
}
.footer .f3{
    font-size: 15px;
    position: absolute;
    left: 25%;
    bottom: 10%;
}
.footer .f4{
    font-size: 17px;
    color: #000;
    font-weight: bold;
    position: absolute;
    right: 25%;
    bottom: 20%;
}
